.u-text-light {
    color: $light;
}

.u-text-primary {
    color: $primary;
}

.u-text-secondary {
    color: $secondary;
}

.u-bg-white {
    background-color: #fff;
}

.u-bg-light {
    background-color: $light;
}

.u-bg-primary {
    background-color: $primary;
}

.u-bg-secondary {
    background-color: $secondary;
}
