.c-field {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    &__label {
        top: 50%;
        left: 0.8em;
        transform: translateY(-50%);
        position: absolute;
        transition: all 0.3s ease-in-out;
        color: rgba(4, 12, 8, 0.6);
    }

    &__input {
        border: 1px solid #fff;
        padding: 0.5em 1em;
        font-size: $body;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(4, 12, 8, 0.3);
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 3px 6px rgba(4, 12, 8, 0.3);
        }

        &:focus {
            outline: none;
            box-shadow: 0 5px 10px rgba(4, 12, 8, 0.3);
            border-color: $primary;
        }
    }

    &.is-active &__label,
    &.is-success &__label,
    &.is-danger &__label {
        font-size: $helper;
        color: $dark;
        top: -20px;
        left: 0;
        transform: translateY(0);
    }

    &.is-success &__label {
        color: $success;
    }

    &.is-success &__input {
        border-color: $success;
    }

    &.is-danger &__label {
        color: $danger;
    }

    &.is-danger &__input {
        border-color: $danger;
    }
}
