.c-nav {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &__menu {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__link {
        color: var(--dark);
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--secondary);
        }
    }

    &__item {
        margin-left: 1em;
    }
}

.js .c-nav {
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

    &.is-active {
        right: 0;
    }

    @include min-width(600px) {
        width: 50%;
    }

    @include min-width(768px) {
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
        position: relative;
        background: transparent;
        backdrop-filter: blur(0);
    }

    &__menu {
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include min-width(768px) {
            display: flex;
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__item {
        margin-left: 0;
        margin-top: 1em;
        font-size: $subtitle;

        @include min-width(768px) {
            margin-top: 0;
            margin-left: 1em;
            font-size: $body;
        }
    }
}
