.o-media {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &.-reverse {
        flex-direction: row-reverse;
    }

    &.-breakable {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;

        .o-media__figure {
            margin-bottom: 1.5em;
        }

        @include min-width(768px) {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            .o-media__figure {
                margin-bottom: 0;
            }

            &.-reverse {
                flex-direction: row-reverse;
            }
        }
    }

    &__figure {
        max-width: 100%;
    }

    &__image {
        max-width: 100%;
    }
}
